body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin p{
	text-align: center;
}


 .form-signin button{
 margin-top: 5px !important;
 }
